* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
}

.logo-section {
  width: 40vw;
  height: 100vh;

  background-image: url("./assets/argentine-chess-champions-league.webp");
  background-repeat: no-repeat;
  background-size: auto 100%;
}