@font-face {
    font-family: 'Copperplate CC';
    src: url('fonts/CopperplateCC.woff2') format('woff2'),
        url('fonts/CopperplateCC.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copperplate CC';
    src: url('fonts/CopperplateCC.woff2') format('woff2'),
        url('fonts/CopperplateCC.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('fonts/NanumGothic.woff2') format('woff2'),
        url('fonts/NanumGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-LightItalic.woff2') format('woff2'),
        url('fonts/Rubik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Light.woff2') format('woff2'),
        url('fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

:root {
  --color-hsl-black: 237 0% 5%;
  --color-hsl-gray: 95 0% 95%;
  --color-hsl-white: 237 0% 98%;
  --color-accent: 324, 71%, 45%;

  --font-family-paragraph: "Rubik";
  --font-family-legal-text: "NanumGothic";
  --font-family-logotype: "Copperplate CC";
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: hsl(var(--color-hsl-gray));
}

.main-wrapper {
  display: flex;
}

.logotype-section {
  width: 40vw;
  height: 100vh;

  background-image: url("./assets/chess-league.webp");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.logotype-section__logotype-container {
  width: 100%;
  height: 8rem;

  margin-top: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --background-opacity: 0.3;
  background-color: hsla(var(--color-hsl-black) / var(--background-opacity));
}

.logotype {
  font-family: var(--font-family-logotype);
  font-size: 2.5rem;
  color: hsl(var(--color-hsl-white));

  position: relative;
  top: -0.3rem;
}

.logotype--small {
  font-size: 1.25rem;
}

.logotype-section__credits {
  margin-top: auto;
  margin-bottom: 1rem;

  font-family: var(--font-family-legal-text);
  text-align: center;

  --background-opacity: 0.3;
  background-color: hsla(var(--color-hsl-white) / var(--background-opacity));
}

/* Form Section */

.form-section {
  --left-space: 2.5rem;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section__heading {
  font-family: var(--font-family-paragraph);
  
  margin-bottom: 1rem;
  margin-left: var(--left-space);
}

.form-section__context-text {
  font-family: var(--font-family-paragraph);

  margin-left: var(--left-space);
  margin-bottom: 1rem;

  width: 50ch;
  line-height: 1.5;
}

.sing-up-form {
  padding-left: var(--left-space);

  background-color: hsl(var(--color-hsl-white));
}

.sing-up-form__heading {
  font-family: var(--font-family-paragraph);
}